@import "./vars.scss";

* {
  font-family: "Ubuntu";
}
body {
  width: 80%;
  margin: 0 auto !important;
  h1,
  h2,
  h3,
  p {
    all: unset;
  }
  header {
    padding: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--color2);
    h1 {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      font-size: 2em;
      color: var(--color2);
    }
  }
  .App {
    margin: 0 auto;
    margin-bottom: 3em;
    height: 80%;

    label {
      margin-bottom: 1em;
      display: inline-grid;
    }
    input{
        margin-bottom: 1em;
    }
  }
  table {
    height: auto;
    margin-bottom: 2em;
    tbody {
    }
    button {
      background-color: unset !important;
      border: none;
    }
    thead {
      th {
        vertical-align: middle;
      }
      tr {
        
          :first-child {
            border-top-left-radius: 1em;
          }
          :last-child {
            border-top-right-radius: 1em;
          }
          :focus{
            color: var(--color2);
          }
        
      }
    }
  }
  footer{
    width: 80%;
    height: 2em;
    position: relative;
    bottom: 0em;
    border-top: 1px solid var(--color2);
}
}
